<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <meta name="theme-color" content="#7952b3">
        <link href="/assets/css/application.css" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <main>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
            {% include('frontend/layout/partials/header.html.twig') %}

            {% block content %}{% endblock %}
            {% include('frontend/layout/partials/footer.html.twig') %}

            {% block javascripts %}
                <script src="/assets/js/application.js" ></script>
            {% endblock %}
        </main>
    </body>
</html>
