.header{
  background: var(--color-white);
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}
.header__container{
  display: flex;
  justify-content: space-between;
}
.header-auth{
  display: flex;
}