<div class="header">
    <div class="container">
        <div class="header__container">
            <div class="header-logotype">
                <div class="header-logotype__text">
                    Сервис по подбору мастеров
                </div>
            </div>
            <div class="header-auth">
                <div class="header-auth-login">
                    <a href="/auth" class="header-auth-login__button">Вход</a>
                </div>
                <div class="header-auth-registration">
                    <a href="/registration" class="button -primary header-auth-registration__button">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>